.grid1 {
   background-color: blue;
}
.grid2 {
    background-color: blueviolet;
}
.grid3 {
   background-color: chartreuse;
}
.grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
}